.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--card-bg-02);
}
.footer_text{
    line-height: 30px;
    color: var(--primary-color);
    font-weight: 600;
}
.footer_quicklinks ul li{
    background: transparent !important;
}
.footer_quicklinks ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
}
.icons i{
    font-size: 1.5rem;
    font-weight: 600;
}
.icons p{
    margin-top: 10px;
}
.footer_copyright{
    font-weight: 600;
    padding: 30px 0px;
}
.copyright_footer{
    background: var(--primary-color);
    width: 100%;
    width: max-content;
    height: 90px;
}
.footer_size{
    margin-bottom: -30px;
    padding: 0;

}